#
# Copyright (c) 2022 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/cryptecs/corporate-information.
#
# SPDX-License-Identifier: CC-BY-4.0
#
/.idea/
